<div class="container">
  <div class="filters">
    <a class="button" (click)="productCategoryFilter='Heads'">Heads</a>
    <a class="button" (click)="productCategoryFilter='Arms'">Arms</a>
    <a class="button" (click)="productCategoryFilter='Torsos'">Torsos</a>
    <a class="button" (click)="productCategoryFilter='Bases'">Bases</a>
    <a class="button" (click)="productCategoryFilter=''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <div class="product">
        <div class="product-details">
          <img [src]="getRobotPartImageUrl(product)" [alt]="product.name" />
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
            <div class="category">Part Type: {{ product.category }}</div>
          </div>
        </div>
        <div class="price">
          <div *ngIf="product.discount ===0">{{ product.price | currency:'GBP'  }}</div>
          <div *ngIf="product.discount != 0" class="discount">
            Discounted - {{ (product.price * (1 - product.discount)) | currency:'GBP' }}
          </div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
