<div class="container">
  <form #templateVariableSignInForm="ngForm" class="form" (ngSubmit)="signIn()">
    <img class="logo" src="/assets/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      name="email"
      #templateVariableEmail="ngModel"
      placeholder="Email Address"
      type="text"
      [(ngModel)]="credentials.email"
    />
    <input
      name="password"
      #templateVariablePassword="ngModel"
      placeholder="Password"
      type="password"
      required
      [(ngModel)]="credentials.password"
    />
    <div class="buttons">
      <button type="submit"class="button cta">
        Sign In
      </button>
    </div>
    <div class="signInError" *ngIf="signInError">FAILED</div>
  </form>
</div>

<table>
  <tr>
    <td>
      <pre>
        FORM
templateVariableSignInForm valid:     {{templateVariableSignInForm.valid}}
templateVariableSignInForm invalid:   {{templateVariableSignInForm.invalid}}
templateVariableSignInForm dirty:     {{templateVariableSignInForm.dirty}}
templateVariableSignInForm pristine:  {{templateVariableSignInForm.pristine}}
templateVariableSignInForm touched:   {{templateVariableSignInForm.touched}}
templateVariableSignInForm untouched: {{templateVariableSignInForm.untouched}}
templateVariableSignInForm submitted: {{templateVariableSignInForm.submitted}}
      </pre>
    </td>
    <td>
      <pre>
EMAIL
templateVariableEmail valid:     {{templateVariableEmail.valid}}
templateVariableEmail invalid:   {{templateVariableEmail.invalid}}
templateVariableEmail dirty:     {{templateVariableEmail.dirty}}
templateVariableEmail pristine:  {{templateVariableEmail.pristine}}
templateVariableEmail touched:   {{templateVariableEmail.touched}}
templateVariableEmail untouched: {{templateVariableEmail.untouched}}
      </pre>
    </td>
    <td>
      <pre>
EMAIL
templateVariablePassword valid:     {{templateVariablePassword.valid}}
templateVariablePassword invalid:   {{templateVariablePassword.invalid}}
templateVariablePassword dirty:     {{templateVariablePassword.dirty}}
templateVariablePassword pristine:  {{templateVariablePassword.pristine}}
templateVariablePassword touched:   {{templateVariablePassword.touched}}
templateVariablePassword untouched: {{templateVariablePassword.untouched}}
      </pre>
    </td>
  </tr>
</table>
